<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="/stylesheets/screen.css" />
	<link rel="stylesheet" href="/stylesheets/type/type.css" />
	
	<title>Zeek | Monster Savings</title>
    
    <!-- Patch holes in HTML5 support -->
    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/javascripts/jquery.placeholder.js"></script>
    
</head>