<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="/stylesheets/screen.css" />
	<link rel="stylesheet" href="/stylesheets/type/type.css" />
	
	<title>Prototypical | A Sinatra Prototyping Tool</title>
    
    <!-- Patch holes in HTML5 support -->
    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        
</head>