<div id="admin">
    <a id="icon">i</a>
    <a class="create" href="/new" title="Create a new page">&#9998;</a>
    
<% if @page %>
    <a class="edit" href="/edit/<%= @page.id %>" title="Edit current page">&#9997;</a>
    <a class="delete" href="/destroy/<%= @page.id %>" title="Delete current page">&#10006;</a>
<% else %>
    <a class="disabled">&#9997;</a>
    <a class="disabled">&#10006;</a>
<% end %>

</div>