<aside class="right">
    <h5>About the Author</h5>
    <p><img src="http://en.gravatar.com/avatar/d9a6de56720540b203522bfddc835b66?s=35&d=mm" alt="Nate Hunzaker" /> Nate Hunzaker is a front end developer at Smashing Boxes. He enjoys Ruby, Kendo, and good food.</p>
    <p>Read more about Prototypical at <a href="https://github.com/nhunzaker/Prototypical"> the GitHub Project Page</a>.</p>
</aside>