<section id="profile">
    
    <h2>Basic Information:</h2>
    
    <form action="" method="post">
        <fieldset class="photo">
            <button>Upload Image</button>
        </fieldset>
            
        <fieldset class="profile">
            <p><input type="text" class="text" placeholder="Company Name" /></p>
            
            <p>
                <input type="text" class="text" placeholder="Street Address"/>
                <input type="text" class="text city" placeholder="City"/>
                <input type="text" class="text state" placeholder="State"/>
                <input type="text" class="text zip" placeholder="Zip"/>
                <input type="text" class="text" placeholder="Hours"/>
            </p>
            
            <p>
                <input type="text" class="text" placeholder="Website"/>
                <input type="text" class="text" placeholder="Facebook"/>
                <input type="text" class="text" placeholder="Twitter"/>
                <input type="text" class="text" placeholder="LinkedIn"/>
                <button>Add another</button>
            </p>
        </fieldset>
        <textarea placeholder="About my company" class="text"></textarea>
    </form>

</section>