<form id="login" action="/login" method="post">
  
    <fieldset>
        <label for="username">Username: 
            <input id="username" type="text" name="username" class="text"/>
        </label>
        
        <label for="password">Password: 
            <input id="password" type="password" name="password" class="text" />
        </label>
    </fieldset>
    
    <div id="basic_login_button">
        <input type="submit" value="Login" />
    </div>
  
</form>