<h2>Sitemap</h2>
<p>Every piece of content on this site.</p>

<h3>Pages</h3>
<ul>
    <% proto_loop "pages" do %>
        <li><a href="<%= the_link %>"><%= the_title %></a></li>
    <% end %>
</ul>

<hr/>

<h3>Posts</h3>
<ul>
    <% proto_loop "posts" do %>
        <li><a href="<%= the_link %>"><%= the_title %></a></li>
    <% end %>
</ul>