    <article>
        <h1>Prototypical Typographic <span class="amp">&amp;</span> Test Page (<abbr title="Prototypical Typographic Test Page">PTTP</abbr>) <sub><a href="#foot_1">1</a></sub></h1>
        <h2 class="alt">A guide for efficiency and efficacy</h2>
        
        <div class="menu">
            <ul id="menu-primary-navigation" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#wrapper">Show Grid</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Hide Grid</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">3<sup>rd</sup> Link</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">4<sup>th</sup> Link</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">5<sup>th</sup> Link</a></li>
            </ul>
        </div>

    	<p><code>All your base are belong to us_</code></p>
        
        <hr/>
        
        <article>
        	<h1>Header One</h1>
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <blockquote><img src="http://lorempixum.com/g/200/150/people/" /> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
 
        <hr/>
        
        <article>
            <h2>Header Two</h2>
            <h5>Lists</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <mark>Ut enim ad minim veniam, quis nostrud</mark> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h6>The Unordered List:</h6>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
            </ul>
            <h6>The Ordered List:</h6>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</li>
            </ol>
            <dl>
                <lh>The Definition List <em class="alt">or</em> Web Design Terminology:</lh>
                <dt>Lorem ipsum dolor sit amet</dt><dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt.</dd> 
                <dt>Lorem ipsum dolor sit amet</dt><dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt.</dd> 
                <dt>Lorem ipsum dolor sit amet</dt><dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt.</dd> 
            </dl>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        
        <hr/>
        
        <article>  
            <h3>Header Three</h3>
             <aside>
                <h5>Aside Note:</h5>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </aside>
            <h4>An article with a sidebar</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <mark>Duis aute irure dolor in reprehenderit in voluptate velit esse</mark> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>

        <hr/>
        
        <article>        
            <h4>Header Four</h4>
            <p class="columns"><strong>Columns</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        
        <hr/>
        
        <article>
            <h5>Header Five: <span class="alt">Flash Notices &amp; Forms</span></h5>
            <div id="flash">
                <div class="flash success"><strong>Success!</strong></div>
                <div class="flash error"><strong>Error!</strong></div>
                <div class="flash info"><strong>More info:</strong> Lorem Ipsum Varle Vue Con Carne.</div>
                <div class="flash notice"><strong>Notice:</strong> Lorem Ipsum Varle Vue Con Carne.</div>
            </div>
            <h6>Forms</h6>

            <form id="dummy" action="" method="post">
    
              <fieldset>
                <legend>Simple sample form</legend>
                <p>
                  <label for="dummy0">Text input (title)</label><br>
                  <input type="text" class="title" name="dummy0" id="dummy0" value="Field with class .title">
                </p>
    
                <p>
                  <label for="dummy1">Another field</label><br>
                  <input type="text" class="text" id="dummy1" name="dummy1" value="Field with class .text">
                </p>
    
                <p>
                  <label for="dummy2">Textarea</label><br>
                  <textarea name="dummy2" id="dummy2" rows="5" cols="20"></textarea>
                </p>
    
                <p>
                  <label for="dummy3">A password field</label><br>
                  <input type="password" class="text" id="dummy3" name="dummy3" value="Password field with class .text">
                </p>
    
                <p>
                  <input type="submit" value="Submit">
                  <input type="reset" value="Reset">
                </p>
    
              </fieldset>
            </form>

        </article>
        <hr/>
        
        <article>
            <h6>Header Six</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
        
        <hr/>
        <hr/>
        
        <footer>
            <span id="foot_1">1: Prototypical Typographic Test Page, created to help developers wrangle their type. <a href="#wrapper"><em>Return to top</em></a></span>
        </footer>
    </article>