<section id="organization">

    <section class="col1">
        <section class="profile">
            <div class="col1">
                <img src="http://www.lorempixum.com/150/150" />
                <ul class="actions">
                    <li>Follow</li>
                    <li>Email</li>
                    <li>Phone</li>
                    <li>Like</li>
                </ul>
            </div>
            <div class="col2">
                <h2>The title of the business</h2>
                <p>
                   9101 Leesville Rd<br/> 
                   Raleigh, NC 27613
                </p>
                <p>(919) 676 - 3310</p>
                <p><a href="">Website</a> | <a href="">Twitter</a></p>
                <p><a href="">Facebook</a> | <a href="">Yelp</a></p>       
            </div>
        </section>
        
        <section class="mapit">
            <h2>Map it</h2>
            <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=American+Tobacco+District,+Durham&amp;aq=t&amp;sll=37.0625,-95.677068&amp;sspn=46.812293,89.384766&amp;ie=UTF8&amp;hq=American+Tobacco+District,&amp;hnear=Durham,+North+Carolina&amp;ll=35.992771,-78.904464&amp;spn=0.006295,0.012859&amp;t=h&amp;output=embed"></iframe>     
        </section>
    </section>

    <section id="tabs" class="col2">
        <ul class="tabs">
            <li class="first"><a href="#tabs-1">Current Deals</a></li>
            <li><a href="#tabs-2">Recent News</a></li>
            <li><a href="#tabs-3">Business Description</a></li>
        </ul>
        <ul class="content">
            <li id="tabs-1">
                <ul class="feed">
                <% Deal.all.each do |deal| %>
                    <li class="post">
                        <img class="thumb" src="http://www.lorempixum.com/70/70" />
                        <p class="description"><%= deal.description.split(" ")[0..10].join(" ") + "..." %></p>
                        <p class="meta"><time datetime="deal.created_at">1 day ago</time></p>
                    </li>
                <% end %>    
                    <li class="view_all"><a class="button">View more news</a></li>
                </ul>
            </li>
            <li id="tabs-2">
                <ul class="feed">
                <% Deal.all.each do |deal| %>
                    <li class="post">
                        <img class="thumb" src="http://www.lorempixum.com/70/70" />
                        <p class="description"><%= deal.description.split(" ")[0..10].join(" ") + "..." %></p>
                        <p class="meta"><time datetime="deal.created_at">1 day ago</time></p>
                    </li>
                <% end %>    
                    <li class="view_all"><a class="button">View more news</a></li>
                </ul>
            </li>
            <li id="tabs-3">
                <article>
                    <h3>Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
            </li>
        </ul>
    </section>
    
</section>