<section id="organization">

    <section class="col1">
        <section class="profile">
            <div class="col1">
                <img src="http://www.lorempixum.com/150/150" />
                <ul class="actions">
                    <li><a class="icon follow">Follow</a></li>
                    <li><a class="icon email">Email</a></li>
                    <li><a class="icon text">Text</a></li>
                    <li><a class="icon like">Like</a></li>
                </ul>
            </div>
            <div class="col2">
                <h2 class="fundraiser">Hoggard Drama Club</h2> 
                <p><a href="">Website</a> | <a href="">Twitter</a></p>       
            </div>
        </section>
        
        <section class="support-box">
            <header>
                <h2>Support it</h2>
            </header>
            <p>Support this local fundraiser! Every dollar you spend and save goes towards the Hoggard Drama Club's fundraiser.</p>
            <footer>
                <a href="#readmore" class="button">Support Now</a>
            </footer>        
        </section>
    </section>

    <section id="tabs" class="col2">
        <ul class="tabs">
            <li class="first"><a href="#tabs-1">Recent News</a></li>
            <li><a href="#tabs-2">Fundraiser Description</a></li>
        </ul>
        <ul class="content">
            <li id="tabs-1">
                <ul class="feed">
                <% Deal.all.each do |deal| %>
                    <li class="post">
                        <img class="thumb" src="http://www.lorempixum.com/70/70" />
                        <p class="description"><%= deal.description.split(" ")[0..10].join(" ") + "..." %></p>
                        <p class="meta"><time datetime="deal.created_at">1 day ago</time></p>
                    </li>
                <% end %>    
                    <li class="view_all"><a class="button">View all deals</a></li>
                </ul>
            </li>
            <li id="tabs-2">
                <article>
                    <h3>Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
            </li>
        </ul>
    </section>
    
</section>