<section id="profile">
    
    <form action="" method="post">
      
        <h2>Basic Information:</h2>
        <fieldset class="photo">
            <div class="photobox">
              <img src="http://www.lorempixum.com/200/200" title="Upload an image" />
            </div>
            <button>Upload Photo</button>
        </fieldset>
            
        <fieldset class="profile">
            <textarea placeholder="About my company" class="text"></textarea>
            <p><input type="text" class="text" placeholder="Company Name" /></p>
            
            <p>
                <input type="text" class="text" placeholder="Street Address"/>
                <input type="text" class="text city" placeholder="City"/>
                <input type="text" class="text state" placeholder="State"/>
                <input type="text" class="text zip" placeholder="Zip"/>
                <input type="text" class="text" placeholder="Hours"/>
            </p>
            
            <p>
                <input type="text" class="text" placeholder="Website"/>
                <input type="text" class="text" placeholder="Facebook"/>
                <input type="text" class="text" placeholder="Twitter"/>
                <input type="text" class="text" placeholder="LinkedIn"/>
                <button>Add another</button>
            </p>
            
            <input type="submit" class="submit" value="Save"/>
        </fieldset>
        
        
        
    </form>

</section>