<%= erb :'furniture/header.html' %>
<body>
    <div id="wrapper">
        <header>
            <a id="logo" href="/">Zeek, Monster Savings</a>
        </header>
        
    	<article class="consumers_page">
            <header>
               <h1>Consumers</h1>
               <h2>Support your cause and save</h2>
           </header>
               
            <section>
               <header>
                   <h2>Benefits</h2>
               </header>
               <ul>
                   <li><p>Buy a card and 50% goes to support your cause.</p></li>
                   <li><p>Use your card to get deals at local hot spots.</p></li>
                   <li><p>Use your phone to clip deals on the fly.</p></li>
                   <li><p>Track your savings.</p></li>
                   <li><p>Follow your favorite businesses and be the first to know of special offerings and deals.</p></li>
                   <li><p>Auto-renew your card and save.</p></li>
               </ul>
            </section>
            
            <section>
                <header>
                    <h2>Get connected:</h2>
                </header>
                
                <form action="" method="post">
                    <input type="email" id="email" name="email" class="text" placeholder="enter e-mail to recieve news and deals *" required />
                    <input type="submit" value="Sign Up" class="button"/>
                </form>    
                           
            </section>
    	   
        </article> 
           	
    	<footer>
    	   <small id="legal">&copy; 2011 Zeek LLC.</small>
    	</footer>
    	
    </div>
    
    <div id="overlays">
        <div class="ribbon" src="images/ribbon.png" alt="Coming September 1, 2011"></div>
        <div class="cloud foreground"></div>
        <div class="cloud middleground"></div>
        <div class="cloud background"></div>
    </div>
    <%= erb :'furniture/scripts.html' %>	
</body>
</html>