        <section>
            <article>
                <h3><%= @page.title %></h3>
                <p><%= @content %></p>
            <hr/>
            </article>
        </section>
           	
    	<footer>
    	   <small id="legal">Maintained by Nate Hunzaker, at <a target="_blank" href="http://www.smashingboxes.com">Smashing Boxes</a></small>
    	</footer>