        <section>
            <article>
                <h3><%= the_title %></h3>
                <p><%= the_content %></p>
            <hr/>
            </article>
            <p><a href="/edit/<%= @content.id %>">Edit this page</a> | <a href="/destroy/<%= @content.id %>">Delete this page</a></p>
        </section>