        <section>
            
            <article class="left">
                <%= get_sidebar("right") %>
                <h3><%= the_title %></h3>
                <%= the_content %>
                <hr/>                
            </article>
            
            
            
        </section>