        <section>
            <article class="right">
                <%= get_sidebar("left") %>
                <h3><%= the_title %></h3>
                <%= the_content %>
            </article>
        </section>