        <section>
            <article>
                <h3><%= the_title %></h3>
                <%= the_content %>
            <hr/>
            </article>
            <hr/>
            <p><a href="/edit/<%= the_id %>">Edit this page</a> | <a href="/destroy/<%= the_id %>">Delete this page</a></p>
        </section>