
<footer id="footer">
   <small id="legal">Maintained by <a href="http://www.smashingboxes.com" target="_blank">Smashing Boxes</a></small>
   <%= get_navigation %>
</footer>

<!-- End of content, begin scripting -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script src="/javascripts/actions.js"></script>