/**   
 * @name: Prototypical
 * 
 * Author: Nate Hunzaker
 * Author URI: http://smashingboxes.com
 * Version: 1
 *
*/
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* Typography & Colors
------------------------------------------ */
/* Varibles
---------------------------------------*/
/*/
 *   Based upon recommendations by the Aaron Boodman
 *   article: http://blogs.sitepoint.com/eight-definitive-font-stacks-3/
/*/
/* Global
---------------------------------------*/
/* line 47, sass/screen.scss */
body {
  color: #222222;
  font: normal 62.5%/1.5em Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 48, sass/screen.scss */
*::selection {
  background: #f89381;
  color: black;
}

/* Headings
---------------------------------------*/
/* line 55, sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
}
/* line 56, sass/screen.scss */
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h6 + h1, h6 + h2, h6 + h3, h6 + h4 {
  margin-top: -15px;
}

/* line 60, sass/screen.scss */
h1 {
  font-size: 2.8em;
}

/* line 61, sass/screen.scss */
h2 {
  font-size: 2.6em;
}

/* line 62, sass/screen.scss */
h3 {
  font-size: 2.4em;
}

/* line 63, sass/screen.scss */
h4 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* line 64, sass/screen.scss */
h5 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

/* line 65, sass/screen.scss */
h6 {
  font-size: 1.4em;
  margin-bottom: 6px;
}

/* Lists
---------------------------------------*/
/* line 73, sass/screen.scss */
article ol, article ul {
  font: normal 1.4em/1.5em Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}
/* line 74, sass/screen.scss */
article ol li, article ul li {
  list-style: circle;
  margin: 0 0 0 2em;
  padding: 0;
}
/* line 77, sass/screen.scss */
article ol li {
  list-style: decimal;
}
/* line 79, sass/screen.scss */
article dl {
  font: normal 1.4em/1.5em Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}
/* line 80, sass/screen.scss */
article dl lh {
  font: bold 1.1em/1.7em Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 81, sass/screen.scss */
article dl dt {
  margin: 0 0 0em 1em;
  font-weight: bold;
}
/* line 82, sass/screen.scss */
article dl dd {
  margin: 0 0 1em 2em;
}

/* General
---------------------------------------*/
/* line 90, sass/screen.scss */
blockquote, p, pre {
  font: normal 1.4em/20px Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}

/* line 92, sass/screen.scss */
abbr {
  border-bottom: 1px dotted #6f6f6f;
}

/* line 94, sass/screen.scss */
a {
  color: #ff6347;
  text-decoration: none;
}
/* line 95, sass/screen.scss */
a:hover, a:focus {
  color: #f89381;
}
/* line 96, sass/screen.scss */
a:active {
  color: #f66950;
}

/* line 99, sass/screen.scss */
blockquote {
  color: #888888;
  clear: right;
  font: italic 1.4em/1.5em Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  margin: 2em 3em;
}
/* line 100, sass/screen.scss */
blockquote:before {
  color: #555555;
  content: "Ò";
  font-size: 2.5em;
  margin: 0 15px 0 0;
  position: relative;
  top: 5px;
}
/* line 101, sass/screen.scss */
blockquote:after {
  color: #555555;
  content: "Ó";
  font-size: 2.5em;
  margin: 15px 0 0 15px;
  position: absolute;
}
/* line 103, sass/screen.scss */
blockquote img {
  border: 0.5em solid #fff;
  float: left;
  margin: 0 2em 0 0;
  -moz-box-shadow: 0 1px 3px #6f6f6f;
  -webkit-box-shadow: 0 1px 3px #6f6f6f;
  -o-box-shadow: 0 1px 3px #6f6f6f;
  box-shadow: 0 1px 3px #6f6f6f;
}

/* line 106, sass/screen.scss */
code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* line 108, sass/screen.scss */
em {
  font-style: italic;
  color: #151515;
}

/* line 110, sass/screen.scss */
hr {
  border: none;
  border-bottom: 1px dashed #a2a2a2;
  margin: 1.5em 0;
}

/* line 112, sass/screen.scss */
mark {
  background: #fe8;
  position: relative;
  padding: 0.3em 0 0;
  text-shadow: 0 1px 1px #aa3;
  -moz-transition-property: background-color 0.3s ease-out;
  -webkit-transition-property: background-color 0.3s ease-out;
  -o-transition-property: background-color 0.3s ease-out;
  transition-property: background-color 0.3s ease-out;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 113, sass/screen.scss */
mark:hover {
  background: #fff9d4;
}

/* line 116, sass/screen.scss */
small {
  font-size: 1.2em;
}

/* line 118, sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 119, sass/screen.scss */
sub {
  font-size: 0.5em;
  vertical-align: baseline;
}

/* line 120, sass/screen.scss */
sup {
  font-size: 0.5em;
  vertical-align: baseline;
}

/* Articles
---------------------------------------*/
/* line 127, sass/screen.scss */
article aside {
  background: white;
  border: 1px solid #d4d4d4;
  float: left;
  padding: 1.5em 1.5em 0;
  margin: 0.7em 1em 0 0;
  width: 25%;
}
/* line 128, sass/screen.scss */
article aside img {
  border: 1px solid #aaa;
  float: left;
  margin-right: 1em;
}
/* line 130, sass/screen.scss */
article aside.right {
  float: right;
  margin: 0.7em 0 0 2em;
}

/* Utility Class 
---------------------------------------*/
/* line 138, sass/screen.scss */
.amp, .alt {
  font-family: "Goudy Old Style", "Palatino", "Book Antique", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif, serif;
  font-style: italic;
  font-weight: normal;
}

/* line 139, sass/screen.scss */
.columns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  -o-column-gap: 1em;
  column-gap: 1em;
}

/* Structure
------------------------------------------ */
/* line 145, sass/screen.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 3em auto;
}
/* line 146, sass/screen.scss */
#wrapper:target {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.05)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(225, 225, 225, 0.25)), color-stop(3.125%, rgba(225, 225, 225, 0.25)), color-stop(3.125%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(225, 225, 225, 0.25)), color-stop(7.292%, rgba(225, 225, 225, 0.25)), color-stop(7.292%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(225, 225, 225, 0.25)), color-stop(11.458%, rgba(225, 225, 225, 0.25)), color-stop(11.458%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(225, 225, 225, 0.25)), color-stop(15.625%, rgba(225, 225, 225, 0.25)), color-stop(15.625%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(225, 225, 225, 0.25)), color-stop(19.792%, rgba(225, 225, 225, 0.25)), color-stop(19.792%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(225, 225, 225, 0.25)), color-stop(23.958%, rgba(225, 225, 225, 0.25)), color-stop(23.958%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(225, 225, 225, 0.25)), color-stop(28.125%, rgba(225, 225, 225, 0.25)), color-stop(28.125%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(225, 225, 225, 0.25)), color-stop(32.292%, rgba(225, 225, 225, 0.25)), color-stop(32.292%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(225, 225, 225, 0.25)), color-stop(36.458%, rgba(225, 225, 225, 0.25)), color-stop(36.458%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(225, 225, 225, 0.25)), color-stop(40.625%, rgba(225, 225, 225, 0.25)), color-stop(40.625%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(225, 225, 225, 0.25)), color-stop(44.792%, rgba(225, 225, 225, 0.25)), color-stop(44.792%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(225, 225, 225, 0.25)), color-stop(48.958%, rgba(225, 225, 225, 0.25)), color-stop(48.958%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(225, 225, 225, 0.25)), color-stop(53.125%, rgba(225, 225, 225, 0.25)), color-stop(53.125%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(225, 225, 225, 0.25)), color-stop(57.292%, rgba(225, 225, 225, 0.25)), color-stop(57.292%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(225, 225, 225, 0.25)), color-stop(61.458%, rgba(225, 225, 225, 0.25)), color-stop(61.458%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(225, 225, 225, 0.25)), color-stop(65.625%, rgba(225, 225, 225, 0.25)), color-stop(65.625%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(225, 225, 225, 0.25)), color-stop(69.792%, rgba(225, 225, 225, 0.25)), color-stop(69.792%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(225, 225, 225, 0.25)), color-stop(73.958%, rgba(225, 225, 225, 0.25)), color-stop(73.958%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(225, 225, 225, 0.25)), color-stop(78.125%, rgba(225, 225, 225, 0.25)), color-stop(78.125%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(225, 225, 225, 0.25)), color-stop(82.292%, rgba(225, 225, 225, 0.25)), color-stop(82.292%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(225, 225, 225, 0.25)), color-stop(86.458%, rgba(225, 225, 225, 0.25)), color-stop(86.458%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(225, 225, 225, 0.25)), color-stop(90.625%, rgba(225, 225, 225, 0.25)), color-stop(90.625%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(225, 225, 225, 0.25)), color-stop(94.792%, rgba(225, 225, 225, 0.25)), color-stop(94.792%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(225, 225, 225, 0.25)), color-stop(98.958%, rgba(225, 225, 225, 0.25)), color-stop(98.958%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}

/* Header
------------------------------------------ */
/* line 153, sass/screen.scss */
.menu {
  clear: right;
  overflow: hidden;
}
/* line 155, sass/screen.scss */
.menu ul {
  margin-bottom: 2em;
}
/* line 156, sass/screen.scss */
.menu ul li {
  border: 1px solid #a2a2a2;
  border-width: 0 1px;
  float: left;
  list-style: none;
  padding: 0px 1em;
  margin: 0 -1px 0 0;
}
/* line 157, sass/screen.scss */
.menu ul a {
  font-size: 1.5em;
  line-height: 20px;
}

/* Body
------------------------------------------ */
/* Footer
------------------------------------------ */
/* line 172, sass/screen.scss */
footer {
  clear: left;
  margin-top: 5em;
}
/* line 173, sass/screen.scss */
footer #legal {
  display: block;
  text-align: center;
}

/* Images
------------------------------------------ */
/* Form Elements
------------------------------------------ */
/* Comments
------------------------------------------ */
/* Sidebar
------------------------------------------ */
/* Common Elements
------------------------------------------ */
/* Notifications
------------------------------------------ */
/* line 203, sass/screen.scss */
.flash {
  background: #eeeeee;
  border: 1px solid #d4d4d4;
  color: #333;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1em;
  margin-bottom: 1em;
}
/* line 204, sass/screen.scss */
.flash.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}
/* line 205, sass/screen.scss */
.flash.error, .flash.alert {
  background: #FBE3E4;
  color: #8A1F11;
  border-color: #FBC2C4;
}
/* line 206, sass/screen.scss */
.flash.notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}
/* line 207, sass/screen.scss */
.flash.info {
  background: #D5EDF8;
  color: #205791;
  border-color: #92CAE4;
}
