<div id="footer">
  <div class="lt">Copyright &copy 2010 All rights reserved.</div>
  <div class="rt">Designed by <a href="http://www.nattywp.com" title="wordpress themes"><img src="/images/natty-logo.png" width="82" height="17" valign="3px" class="png" alt="wordpress themes" align="middle" /></a></div>		
  <div class="clear"></div>			
</div>
</div> <!-- END Columns --> 


</div><!-- END main -->
</div>  
<div class="clear"></div>

</body>
</html>
