<ul>
  <li class="widget png_scale" id="categories_id">
    <h2 class="blocktitle"><span>Categories</span></h2>	
    <ul>
      List categories
    </ul>		
  </li>
  <li class="widget png_scale" id="text_id">
    <h2 class="blocktitle">Archive</h2>
    <ul>
      Archives
    </ul>
  </li>
  <li>
    
  <li class="widget png_scale" id="meta">
    <h2 class="blocktitle">Meta</h2>
    <ul>
      Register
      <li>Login/Logout</li>
      <li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
      <li class="rss">
	<a href="/rss">Read in RSS</a>
      </li>
      <li class="twitter"><a href="/twitter" title="Twitter profile">Twitter</a></li>
    </ul>
  </li>
</ul>
