<div id="admin-toggle">
  
  <a id="icon" href="/admin">i</a>
  
  <nav>
      <a class="create" href="/new" title="Create a new page" draggable="true">+</a>
      
  <% if params[:id] %>
      <a class="edit" href="/edit/<%= params[:id] %>" title="Edit current page">&#9998;</a>
      <a class="delete" href="/destroy/<%= params[:id] %>" title="Delete current page">&#10006;</a>
  <% else %>
      <a class="disabled">&#9997;</a>
      <a class="disabled">&#10006;</a>
  <% end %>
      <hr/>
      <a href="/tools/type" title="View Typography">t</a>
      <a href="/tools/sitemap" title="View Sitemap">s</a>
  </nav>
  
</div>