<div id="admin-toggle">
  
  <a id="icon" href="/admin">i</a>
  
  <nav>
      <a class="create" href="/new" title="Create a new page" draggable="true">+</a>
      
  <% if params[:id] %>
      <a class="edit" href="/edit/<%= params[:id] %>" title="Edit current page">&#9998;</a>
      <a class="delete" href="/destroy/<%= params[:id] %>" title="Delete current page">&#10006;</a>
  <% elsif @content %>
      <a class="edit" href="/edit/<%= @content.id %>" title="Edit current page">&#9998;</a>
      <a class="delete" href="/destroy/<%= @content.id %>" title="Delete current page">&#10006;</a>
  <% else %>
      <a class="disabled">&#9997;</a>
      <a class="disabled">&#10006;</a>
  <% end %>
      <hr/>
      <a href="/tools/type" title="View Typography">t</a>
      <a href="/tools/sitemap" title="View Sitemap">s</a>
  </nav>
  
</div>

<style>
    /* Prototypical Admin
    ------------------------------------------ */
    #admin-toggle                               { position: fixed; top: 0; left: -1px; width: 41px; background: #222; height: 40px; overflow: hidden; font-size: 14px; text-align: center; -moz-transition-property: all 0.1s linear; -webkit-transition-property: all 0.1s linear; -o-transition-property: all 0.1s linear; transition-property: all 0.1s linear; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -o-border-bottom-right-radius: 4px; -ms-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-box-shadow: inset 0 0 10px #111111; -webkit-box-shadow: inset 0 0 10px #111111; -o-box-shadow: inset 0 0 10px #111111; box-shadow: inset 0 0 10px #111111; z-index: 9999; }
    #admin-toggle:hover                         { height: 292px; }
    #admin-toggle nav                           { width: 26px; margin-left: 3px; }
    #admin-toggle a                             { background: #222; border: 1px solid #444; color: #fff; display: block; font: bold 20px/30px Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0 0 7px 0; width: 32px; height: 32px; text-shadow: 0 1px 0 #AAA; text-align: center; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.35); -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.35); box-shadow: 0 1px 0px rgba(0, 0, 0, 0.35); -moz-transition-property: all 0.1s easeOut; -webkit-transition-property: all 0.1s easeOut; -o-transition-property: all 0.1s easeOut; transition-property: all 0.1s easeOut; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
    #admin-toggle a:hover                       { -moz-box-shadow: 0 0 8px #999999; -webkit-box-shadow: 0 0 8px #999999; -o-box-shadow: 0 0 8px #999999; box-shadow: 0 0 8px #999999; border-color: #777; }
    #admin-toggle a.create                      { color: #ada; }
    #admin-toggle a.create:hover                { -moz-box-shadow: 0 0 8px #99ff99; -webkit-box-shadow: 0 0 8px #99ff99; -o-box-shadow: 0 0 8px #99ff99; box-shadow: 0 0 8px #99ff99; border-color: #9f9; }
    #admin-toggle a.edit                        { color: #99f; border-color: #66a; }
    #admin-toggle a.edit:hover                  { -moz-box-shadow: 0 0 8px #5555ff; -webkit-box-shadow: 0 0 8px #5555ff; -o-box-shadow: 0 0 8px #5555ff; box-shadow: 0 0 8px #5555ff; border-color: #99f; }
    #admin-toggle a.delete                      { color: #f44; border-color: #a66; }
    #admin-toggle a.delete:hover                { -moz-box-shadow: 0 0 8px #ff5555; -webkit-box-shadow: 0 0 8px #ff5555; -o-box-shadow: 0 0 8px #ff5555; box-shadow: 0 0 8px #ff5555; border-color: #f99; }
    #admin-toggle a.disabled                    { color: #444; opacity: 0.4; }
    #admin-toggle a.disabled:hover              { border-color: #444; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); }
    #admin-toggle #icon                         { background: none; border: none; cursor: pointer; font: italic 30px/34px "Goudy Old Style", "Palatino", "Book Antique", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; margin-left: 5px; margin-bottom: 20px; text-shadow: 0 0 50px #eee; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
    #admin-toggle #icon:hover                   { color: #ff3333; text-shadow: 0 0 5px #ff3333; }
    #admin-toggle #icon:hover                   { text-shadow: 0 0 10px #ff3333; }
    #admin-toggle *::selection                  { background: none; }
    #admin-toggle hr                            { margin-left: 8px; }
    
    /* b) Flash Notifications
    ------------------------------------------ */
    .flash                                      { background: #eeeeee; border: 1px solid #d4d4d4; color: #333; cursor: pointer; display: none; font-size: 14px; left: 20px; max-width: 300px; padding: 14px 20px; position: fixed; top: 5px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; -moz-box-shadow: inset 0 1px 1px white; -webkit-box-shadow: inset 0 1px 1px white; -o-box-shadow: inset 0 1px 1px white; box-shadow: inset 0 1px 1px white; z-index: 9999; }
    .flash.success                              { background-color: #E6EFC2; color: #264409; border-color: #C6D880; -moz-box-shadow: inset 0 1px 0 white, #aaddaa 0 1px 3px; -webkit-box-shadow: inset 0 1px 0 white, #aaddaa 0 1px 3px; -o-box-shadow: inset 0 1px 0 white, #aaddaa 0 1px 3px; box-shadow: inset 0 1px 0 white, #aaddaa 0 1px 3px; }
    .flash.success a                            { color: #264409; }
    .flash.error, .flash.alert                  { background-color: #FBE3E4; color: #8A1F11; border-color: #FBC2C4; -moz-box-shadow: inset 0 1px 0 white, #ffcccc 0 1px 3px; -webkit-box-shadow: inset 0 1px 0 white, #ffcccc 0 1px 3px; -o-box-shadow: inset 0 1px 0 white, #ffcccc 0 1px 3px; box-shadow: inset 0 1px 0 white, #ffcccc 0 1px 3px; }
    .flash.error a, .flash.alert a              { color: #8a1f11; }
    .flash.notice                               { background-color: #FFF6BF; color: #514721; border-color: #FFD324; -moz-box-shadow: inset 0 1px 0 white, #cccc66 0 1px 3px; -webkit-box-shadow: inset 0 1px 0 white, #cccc66 0 1px 3px; -o-box-shadow: inset 0 1px 0 white, #cccc66 0 1px 3px; box-shadow: inset 0 1px 0 white, #cccc66 0 1px 3px; }
    .flash.notice a                             { color: #514721; }
    .flash.info                                 { background-color: #D5EDF8; color: #205791; border-color: #92CAE4; -moz-box-shadow: inset 0 1px 0 white, #ccccff 0 1px 3px; -webkit-box-shadow: inset 0 1px 0 white, #ccccff 0 1px 3px; -o-box-shadow: inset 0 1px 0 white, #ccccff 0 1px 3px; box-shadow: inset 0 1px 0 white, #ccccff 0 1px 3px; }
    .flash.info a                               { color: #205791; }
    
    .flash.permanent                            { width: 100%; top: 0; left: 0; display: block;}

</style>

<script>

    (function() {
      $(document).ready(function() {
        $('.flash:not.permanent').each(function() {
          var index;
          index = $(this).index();
          $(this).animate({
            top: "+=" + (60 + (index * 70))
          }, 200).fadeTo(500, 0.95).delay(2500).fadeOut(500);
          return $(this).click(function() {
            return $(this).stop().fadeOut(500);
          });
        });
        return $('a.delete').click(function() {
          var answer;
          answer = confirm("Are you sure you want to delete this content?");
          if (!answer) {
            return false;
          }
        });
      });
    }).call(this);

</script>