/* ======================================================================================= *
 *                              Prototypical - Base Stylesheet                              *
 * ======================================================================================== *
 *                                                                                          *
 * @author      Nate Hunzaker (Smashing Boxes)                                              *
 * @url         www.smashingboxes.com                                                       *
 * @version     2.02                                                                         *
 *                                                                                          *
 * @notes       This is the base stylesheet for Prototypical. It need not be loaded,        *
 *              however includes many default styles to work as a starting point for rapid  *
 *              development.                                                                *
 *                                                                                          *
 * ======================================================================================== */
/* ======================================================================================== *
 *                                     Table of Contents                                    *
 * ======================================================================================== *
 *                                                                                          *
 *    1) Typography & Colors                                                                *
 *          a) Variables (Viewable only in the SASS file format)                            *
 *          b) Universal Styles                                                             *
 *          c) Headings                                                                     *
 *          d) Lists                                                                        *
 *          e) General                                                                      *
 *          f) Utility Classes                                                              *
 *    2) Structure                                                                          *
 *          a) Main Content                                                                 *
 *          b) Header                                                                       *
 *          c) Footer                                                                       *
 *    3) Form Elements                                                                      *
 *          a) Template Selection                                                           *
 *          b) Login Form                                                                   *
 *          c) Content Management Forms                                                     *
 *    4) Misc. Elements                                                                     *
 *          a) UI Elements                                                                  *
 *          b) Prototypical Admin                                                           *
 *          c) Flash Notifications                                                          *
 *                                                                                          *
 * ======================================================================================== */
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@persona/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* =========================================== *
 *   1) Typography & Colors                    *
 * =========================================== */
/* a) Variables
---------------------------------------*/
/*
 *   Based upon recommendations by the Aaron Boodman
 *   article: http://blogs.sitepoint.com/eight-definitive-font-stacks-3/
 */
/* b) Universal Styles
---------------------------------------*/
/* line 79, screen.scss */
body {
  background: #fff;
  color: #222222;
  font: normal 14px/1.5em Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 80, screen.scss */
*::selection {
  background: #f76e6e;
  color: black;
}

/* c) Headings
---------------------------------------*/
/* line 85, screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
}

/* line 86, screen.scss */
h1 {
  font-size: 28px;
  line-height: 28px;
}

/* line 87, screen.scss */
h2 {
  font-size: 26px;
  line-height: 26px;
}

/* line 88, screen.scss */
h3 {
  font-size: 24px;
  line-height: 24px;
}

/* line 89, screen.scss */
h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* line 90, screen.scss */
h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 91, screen.scss */
h6 {
  font-size: 14px;
  margin-bottom: 6px;
}

/* d) Lists
---------------------------------------*/
/* line 98, screen.scss */
article ol, article ul {
  margin-bottom: 1em;
}
/* line 99, screen.scss */
article ol li, article ul li {
  list-style: circle;
  margin: 0 0 0 2em;
  padding: 0;
}
/* line 102, screen.scss */
article ol li {
  list-style: decimal;
}
/* line 104, screen.scss */
article dl {
  margin-bottom: 1em;
}
/* line 105, screen.scss */
article dl lh {
  font: bold 14px/1.9em inherit;
}
/* line 106, screen.scss */
article dl dt {
  margin: 0 0 0 1em;
  font-weight: bold;
}
/* line 107, screen.scss */
article dl dd {
  margin: 0 0 1em 2em;
}

/* e) General
---------------------------------------*/
/* line 114, screen.scss */
blockquote, p, pre {
  margin-bottom: 1em;
}

/* line 116, screen.scss */
abbr {
  border-bottom: 1px dotted #6f6f6f;
}

/* line 118, screen.scss */
a {
  color: #ff3333;
  text-decoration: none;
}
/* line 119, screen.scss */
a:hover, a:focus {
  color: #f76e6e;
}
/* line 120, screen.scss */
a:active {
  color: #f53d3d;
}

/* line 123, screen.scss */
blockquote {
  border-bottom: 1px solid #CFCFCF;
  border-top: 1px solid #CFCFCF;
  color: #888888;
  clear: right;
  font: italic 14px/1.5em Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  margin: 2em 0;
  padding: 0em 4em;
  -moz-box-shadow: 0 0 1px 1px white, 0 0 25px #dddddd;
  -webkit-box-shadow: 0 0 1px 1px white, 0 0 25px #dddddd;
  -o-box-shadow: 0 0 1px 1px white, 0 0 25px #dddddd;
  box-shadow: 0 0 1px 1px white, 0 0 25px #dddddd;
}
/* line 124, screen.scss */
blockquote::before {
  background: url("/images/blockquotes.png") no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  left: -42px;
  top: 15px;
}
/* line 125, screen.scss */
blockquote::after {
  background: url("/images/blockquotes.png") -40px 0 no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  left: 100%;
  top: -15px;
}
/* line 127, screen.scss */
blockquote img {
  border: 0.5em solid #fff;
  float: left;
  margin: 0 2em 0 0;
  -moz-box-shadow: 0 1px 3px #6f6f6f;
  -webkit-box-shadow: 0 1px 3px #6f6f6f;
  -o-box-shadow: 0 1px 3px #6f6f6f;
  box-shadow: 0 1px 3px #6f6f6f;
}

/* line 130, screen.scss */
code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* line 132, screen.scss */
em {
  font-style: italic;
  color: #151515;
}

/* line 134, screen.scss */
hr {
  border: none;
  border-bottom: 1px dashed #a2a2a2;
  clear: both;
  margin: 1.5em 0;
}

/* line 136, screen.scss */
mark {
  background: #fe8;
  position: relative;
  padding: 0.3em 0 0;
  text-shadow: 0 1px 1px #aa3;
  -moz-transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
/* line 137, screen.scss */
mark:hover {
  background: #fff9d4;
}

/* line 140, screen.scss */
table {
  font-size: 14px;
}
/* line 141, screen.scss */
table th {
  text-align: center;
  padding: 0.5em 1em;
}
/* line 142, screen.scss */
table td {
  border: 1px solid #aaa;
  padding: 0.5em;
}

/* line 145, screen.scss */
small {
  font-size: 11px;
}

/* line 147, screen.scss */
strong {
  font-weight: bold;
}

/* line 148, screen.scss */
sub {
  font-size: 0.5em;
  vertical-align: baseline;
}

/* line 149, screen.scss */
sup {
  font-size: 0.5em;
  vertical-align: baseline;
}

/* f) Utility Class 
---------------------------------------*/
/* line 154, screen.scss */
.amp, .alt {
  font-family: "Goudy Old Style", "Palatino", "Book Antique", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif, serif;
  font-style: italic;
  font-weight: normal;
}

/* line 155, screen.scss */
.columns-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  -o-column-gap: 1em;
  column-gap: 1em;
}

/* line 156, screen.scss */
.columns-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  -o-column-gap: 1em;
  column-gap: 1em;
}

/* =========================================== *
 *   2) Structure                              *
 * =========================================== */
/* a) Main Content
------------------------------------------ */
/* line 165, screen.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 45px auto;
  /* Displays a grid, for reference */
}
/* line 166, screen.scss */
#wrapper header {
  margin-bottom: 40px;
}
/* line 169, screen.scss */
#wrapper:target {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.05)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(225, 225, 225, 0.25)), color-stop(3.125%, rgba(225, 225, 225, 0.25)), color-stop(3.125%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(225, 225, 225, 0.25)), color-stop(7.292%, rgba(225, 225, 225, 0.25)), color-stop(7.292%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(225, 225, 225, 0.25)), color-stop(11.458%, rgba(225, 225, 225, 0.25)), color-stop(11.458%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(225, 225, 225, 0.25)), color-stop(15.625%, rgba(225, 225, 225, 0.25)), color-stop(15.625%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(225, 225, 225, 0.25)), color-stop(19.792%, rgba(225, 225, 225, 0.25)), color-stop(19.792%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(225, 225, 225, 0.25)), color-stop(23.958%, rgba(225, 225, 225, 0.25)), color-stop(23.958%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(225, 225, 225, 0.25)), color-stop(28.125%, rgba(225, 225, 225, 0.25)), color-stop(28.125%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(225, 225, 225, 0.25)), color-stop(32.292%, rgba(225, 225, 225, 0.25)), color-stop(32.292%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(225, 225, 225, 0.25)), color-stop(36.458%, rgba(225, 225, 225, 0.25)), color-stop(36.458%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(225, 225, 225, 0.25)), color-stop(40.625%, rgba(225, 225, 225, 0.25)), color-stop(40.625%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(225, 225, 225, 0.25)), color-stop(44.792%, rgba(225, 225, 225, 0.25)), color-stop(44.792%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(225, 225, 225, 0.25)), color-stop(48.958%, rgba(225, 225, 225, 0.25)), color-stop(48.958%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(225, 225, 225, 0.25)), color-stop(53.125%, rgba(225, 225, 225, 0.25)), color-stop(53.125%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(225, 225, 225, 0.25)), color-stop(57.292%, rgba(225, 225, 225, 0.25)), color-stop(57.292%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(225, 225, 225, 0.25)), color-stop(61.458%, rgba(225, 225, 225, 0.25)), color-stop(61.458%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(225, 225, 225, 0.25)), color-stop(65.625%, rgba(225, 225, 225, 0.25)), color-stop(65.625%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(225, 225, 225, 0.25)), color-stop(69.792%, rgba(225, 225, 225, 0.25)), color-stop(69.792%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(225, 225, 225, 0.25)), color-stop(73.958%, rgba(225, 225, 225, 0.25)), color-stop(73.958%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(225, 225, 225, 0.25)), color-stop(78.125%, rgba(225, 225, 225, 0.25)), color-stop(78.125%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(225, 225, 225, 0.25)), color-stop(82.292%, rgba(225, 225, 225, 0.25)), color-stop(82.292%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(225, 225, 225, 0.25)), color-stop(86.458%, rgba(225, 225, 225, 0.25)), color-stop(86.458%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(225, 225, 225, 0.25)), color-stop(90.625%, rgba(225, 225, 225, 0.25)), color-stop(90.625%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(225, 225, 225, 0.25)), color-stop(94.792%, rgba(225, 225, 225, 0.25)), color-stop(94.792%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(225, 225, 225, 0.25)), color-stop(98.958%, rgba(225, 225, 225, 0.25)), color-stop(98.958%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(225, 225, 225, 0.25) 0px, rgba(225, 225, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(225, 225, 225, 0.25) 40px, rgba(225, 225, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(225, 225, 225, 0.25) 80px, rgba(225, 225, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(225, 225, 225, 0.25) 120px, rgba(225, 225, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(225, 225, 225, 0.25) 160px, rgba(225, 225, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(225, 225, 225, 0.25) 200px, rgba(225, 225, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(225, 225, 225, 0.25) 240px, rgba(225, 225, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(225, 225, 225, 0.25) 280px, rgba(225, 225, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(225, 225, 225, 0.25) 320px, rgba(225, 225, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(225, 225, 225, 0.25) 360px, rgba(225, 225, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(225, 225, 225, 0.25) 400px, rgba(225, 225, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(225, 225, 225, 0.25) 440px, rgba(225, 225, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(225, 225, 225, 0.25) 480px, rgba(225, 225, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(225, 225, 225, 0.25) 520px, rgba(225, 225, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(225, 225, 225, 0.25) 560px, rgba(225, 225, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(225, 225, 225, 0.25) 600px, rgba(225, 225, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(225, 225, 225, 0.25) 640px, rgba(225, 225, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(225, 225, 225, 0.25) 680px, rgba(225, 225, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(225, 225, 225, 0.25) 720px, rgba(225, 225, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(225, 225, 225, 0.25) 760px, rgba(225, 225, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(225, 225, 225, 0.25) 800px, rgba(225, 225, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(225, 225, 225, 0.25) 840px, rgba(225, 225, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(225, 225, 225, 0.25) 880px, rgba(225, 225, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(225, 225, 225, 0.25) 920px, rgba(225, 225, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 172, screen.scss */
#wrapper article .meta {
  margin-bottom: 15px;
}
/* line 175, screen.scss */
#wrapper aside {
  background: #ffd;
  border: 1px solid #d4d4d4;
  float: left;
  padding: 1.5em 1.3em;
  margin: 0 1em 1em 0;
  width: 25%;
}
/* line 176, screen.scss */
#wrapper aside img {
  border: 1px solid #aaa;
  float: left;
  margin-right: 1em;
}
/* line 178, screen.scss */
#wrapper aside.right {
  float: right;
  margin: 0 0 1em 1em;
}

/* b) Header
------------------------------------------ */
/* line 186, screen.scss */
.menu {
  clear: right;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 188, screen.scss */
.menu ul {
  margin-bottom: 2em;
}
/* line 189, screen.scss */
.menu ul li {
  float: left;
  list-style: none;
  margin: 0 20px 0 0;
}
/* line 190, screen.scss */
.menu ul li a {
  font-size: 15px;
  line-height: 20px;
}
/* line 192, screen.scss */
.menu ul li ul.children {
  display: none;
  position: absolute;
}
/* line 194, screen.scss */
.menu ul li:hover ul.children {
  display: block;
}

/* c) Footer
------------------------------------------ */
/* line 203, screen.scss */
footer {
  clear: left;
  font-size: 14px;
  margin: 2.5em auto;
}
/* line 204, screen.scss */
footer #legal {
  font-size: 14px;
  display: block;
  text-align: center;
}
/* line 205, screen.scss */
footer #legal a {
  font-weight: bold;
}

/* =========================================== *
 *   3) Form Elements                          *
 * =========================================== */
/* line 214, screen.scss */
label {
  font-weight: bold;
}

/* line 215, screen.scss */
fieldset {
  background: #fff;
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-box-shadow: 0 2px 5px #cccccc;
  -webkit-box-shadow: 0 2px 5px #cccccc;
  -o-box-shadow: 0 2px 5px #cccccc;
  box-shadow: 0 2px 5px #cccccc;
}

/* line 216, screen.scss */
legend {
  font-weight: bold;
  font-size: 14px;
  margin-top: -0.2em;
  margin-bottom: 1em;
}

/* line 217, screen.scss */
legend, #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 220, screen.scss */
input[type=text], input[type=password],
input.text, input.title, textarea {
  background-color: #fff;
  border: 1px solid #bbb;
}
/* line 221, screen.scss */
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus, textarea:focus {
  border-color: #666;
}

/* line 224, screen.scss */
select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1em;
}

/* line 227, screen.scss */
input[type=text], input[type=password],
input.text, input.title, textarea, select {
  margin: 0.5em 0;
  width: 100%;
  -moz-box-shadow: #cccccc 0 1px 3px inset;
  -webkit-box-shadow: #cccccc 0 1px 3px inset;
  -o-box-shadow: #cccccc 0 1px 3px inset;
  box-shadow: #cccccc 0 1px 3px inset;
}

/* line 229, screen.scss */
input.text, input.title {
  padding: 5px 0;
  text-indent: 5px;
}

/* line 231, screen.scss */
input.title {
  font-size: 15px;
}

/* line 232, screen.scss */
textarea {
  font-size: 14px;
  min-height: 250px;
  padding: 5px 0;
}

/* line 233, screen.scss */
form.inline {
  line-height: 3em;
}

/* line 234, screen.scss */
form.inline p {
  margin-bottom: 0;
}

/* =========================================== *
 *   4) Misc. Elements                         *
 * =========================================== */
/* a) UI Elements
------------------------------------------ */
/* line 243, screen.scss */
button, .button,
input[type="submit"], input[type="reset"] {
  background: #CCC;
  border: 1px solid #777;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  text-shadow: #EEE 0px 1px 0;
  -moz-box-shadow: inset 0 1px 0 white, #aaaaaa 0 1px 2px;
  -webkit-box-shadow: inset 0 1px 0 white, #aaaaaa 0 1px 2px;
  -o-box-shadow: inset 0 1px 0 white, #aaaaaa 0 1px 2px;
  box-shadow: inset 0 1px 0 white, #aaaaaa 0 1px 2px;
}
