<footer id="footer">
   <small id="legal">Maintained by <a href="http://www.smashingboxes.com" target="_blank">Smashing Boxes</a></small>
</footer>

<script type="text/javascript" src="http://use.typekit.com/iux4ffc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>