<div class="cheatsheet">
    <h4 class="title"><button>+</button><b>Markdown Cheatsheet</b></h4>
    <p> 
        <b>Headers:</b><br/>
        # Header 1<br/>
        ## Header 2<br/>
        ### Header 3<br/>
        #### Header 4<br/>
        ##### Header 5<br/>
    </p>                
    <p>
        <b>Font Style:</b><br/>
        <em>Italics: </em>_[text]_<br/>
        <strong>Bold:</strong> **[text]**<br/>
        <code>Code: </code>`[text]`<br/>
        
    </p>
    <p>
        <b>Links:</b><br/>
        [an example](http://example.com/ "Title")
    </p>

    <ul>
        <li><b>Unordered Lists</b></li>
        <li>* Asterisks mark list items</li>
        <li>- Also Minus Signs</li>
        <li>+ And Plus Signs</li>
    </ul>

    <ol>
        <li><b>Ordered Lists</b></li>
        <li>A numbered list</li>
        <li>Which is numbered</li>
        <li>With periods and a space</li>
    </ol>

    <p>
        <b>Images</b><br/>
        ![picture alt](/images/photo.jpeg "Title is optional")
    </p>
    <p>
        <b>Blockquotes</b><br/>
        > Blockquotes are like quoted text in email replies<br/>
        >> And, they can be nested
    </p>                       
</div>