<section>
    <article>
        <h3><%= System.theme.capitalize %> Tools</strong></h3> 
        <hr/>
        <div class="mediabox">
            <h4><strong>Datamodel</strong></h4>
            <p>Generates an Entity Relationship Diagram for your current theme.</p>
            <hr/>
            <a class="button" href="/admin/tools/datamodel">View Datamodel</a>
        </div>
        <div class="mediabox">
            <h4><strong>Typography</strong></h4>
            <p>Generates a page to display all typographic styles for your current theme.</p>
            <hr/>
            <a class="button" href="/admin/tools/type">View Typography</a>
        </div>
    </article>
</section>