<!DOCTYPE html>
<html lang="en">
<head>
      
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="all">
    
    <title>Persona</title>
    
    <!-- Patch holes in HTML5 support -->
    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
                
</head>
<body>

    <div id="wrapper">
    
        <header id="header">    
            <h1><a id="logo" href="/">Persona</a></h1>
        </header>
        
        <%= yield %>       
    
        <footer id="footer">
           <small id="legal">Maintained by <a href="http://www.smashingboxes.com" target="_blank">Smashing Boxes</a></small>
        </footer>
    
    </div>
        
</body>
</html>